langchain
langchain_community
langchain_huggingface
langchain_text_splitters
langchain_core
langchain_chroma
torch
torchvision
torchaudio
transformers
accelerate
bitsandbytes
sentence-transformers
chromadb
pymupdf
deepeval
ragas
fastapi
uvicorn
pydantic
streamlit